@font-face {
    font-family: 'Star_Jedi';
    src: url("./fonts/star_jedi/starjedi/Starjedi.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url("./fonts/roboto/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.landing-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container-main {
    display: flex;
    flex-direction: column;
    height: auto;
}

.header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2d3a5e;
    padding: 15px 80px;
}

.menu ul {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 0 1 auto;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.mainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    gap: 40px;
    min-height: 400px;
    padding: 0px 80px;
    flex-shrink: 0;
    background-color: #2d3a5e;
}

.button {
    background-color: rgb(6, 106, 168);
    padding: 15px 20px;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: blue;
} 

.imagen-space {
  width: 700px;
  height: 250px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.mainer #content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 238px;
}

.second-section {
    display: flex;
    flex-flow: column;
    min-height: 400px;
    background-color:blanchedalmond;
    gap: 20px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-family: Star_Jedi;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 15px;
    padding: 20px;
}
.son-square {
    display: flex;
    background-color: #e0e0e0;
    flex: 1 0 auto;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-self: center;
    border: 2px solid #2d3a5e;
    border-radius: 12px;
}

.mainer-squares {
    display: flex;
    flex-flow: column wrap;
}

.subtext {
    text-align: center;
    margin: 15px;
}

.son-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quote {
    display: flex;
    flex-flow: column nowrap;
    background-color: azure;
    height: 400px;
    width: 100%;
    padding: 80px;
}

.phrase {
    display: flex;
    flex: 2 1;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    position: relative;
    z-index: 2;
}

.author {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
    align-items: center;
}

.Yoda {
    display: flex;
    position: absolute;
    z-index: 1;
    height: 200px;
    align-self: self-start;
    justify-self: end;
    margin-top: 115px;
}

/* Cuarta Seccion */

.call2action {
    display: flex;
    flex-flow: row nowrap;
    background-color: blanchedalmond;
    height: 200px;
    width: 100%;
    align-items: center;
    padding: 50px 90px;
}

.text-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    flex: auto;
    width: 100%;
    height: 100%;
    background-color: aqua;
    padding: 25px;
    justify-content: flex-start;
    align-items: center;
}


/* footer */